body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.margin-side {
  margin-left: 0.3rem;
}

/* ======================= LogIn ======================= */
.hold-everything-login {
  margin: 5rem 5rem 1rem 5rem;
  display: flex;
  flex-direction: column;
}

.holds-login-interaction {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  /* width: 100%;
    height: 60vh; */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  background-color: #9cfc97;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%;
  height: 45vh;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  color: white;
  background-color: #342e37;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100%;
  height: 45vh;
  /* border-left: 2px solid #342e37; */
}

.login-info-text {
  margin: 1rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: white;
}

.login-form-text {
  margin: 1rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  color: black;
}

.login-info-subtext {
  text-align: center;
  margin: 1rem;
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: white;
}

.actual-login-form {
  display: flex;
  flex-direction: column;
}

.form-labels-login {
  margin-top: 0.5rem;
  background: transparent;
}

.login-button {
  /* margin-top: 1rem; */
  background: transparent;
  font-size: 1em;
  transition: ease-in-out 0.4s;
}

.login-button:hover {
  color: white;
  background-color: black;
}

.loginLink {
  margin-top: 0.5rem;
  text-align: center;
}

.loginButton {
  color: white;
}
/* ============================================== */
/* ======================= SignUp ======================= */
.signup-holds-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

/* .holds-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.actual-signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-grade-option {
  margin-left: 0.5rem;
}

.user-grades-inputs {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.user-grades-inputs-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
/* .input-checkbox{
  margin-top: -1rem;
} */
/* ============================================== */

/* ======================= Info page ======================= */

.info-holds-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-background-pic-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* margin-top: 5rem; */
  background-image: url(./assets/other/climbinggymwall.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

.logo-text {
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 7.5em;
}

.logo-subtext {
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

.banner-h-width {
  width: 30%;
}

.banner-p-width {
  width: 25%;
}

.info-holds-3part-page-info {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
}

.info-info-part {
  width: 30%;
  text-align: center;
}

.part3-text {
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  color: black;
}

.part3-subtext {
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: black;
}

.holds-whats-different-info {
  display: flex;
  flex-direction: column;
  margin: 3rem 3rem 0 3rem;
}
/* .info-holds-moreinfo{
  margin: 1rem;
} */

.info-signup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  color: white;
  background-color: #342e37;
  border-color: #342e37;
  font-size: 1.3em;
  transition: ease-in-out 0.4s;
  margin: 1rem;
}
.info-signup-button:hover {
  color: black;
  background-color: transparent;
}

/* ======================= Profile ======================= */

.holds-user-profile {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user-username {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

/* .profile-pic {
  width: 10%;
  border-radius: 25%;
} */

/* .username-h1{
    
} */

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.user-bio-p {
  text-align: center;
}

.user-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.user-stats-3parts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.user-previous-sessions-and-sends {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-previous-sends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.user-previous-sessions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.previous-sends {
  margin-top: 1rem;
}

.previous-sessions {
  margin-top: 1rem;
}
/* ======================= Dashboard ======================= */
.dash-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-form-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.different-form-buttons {
  /* margin-top: 1rem; */
  height: auto;
  width: 13rem;
  background: transparent;
  font-size: 1em;
    margin: 1rem;
  transition: ease-in-out 0.4s;
}

.different-form-buttons:hover {
  color: white;
  background-color: black;
}

.dash-holds-stats {
  margin: 2rem 1rem 0 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  /* border: #342e37 1px solid; */
  /* margin: 0 2rem 0 2rem; */
}

.dash-stat-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dash-holds-calender{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.dash-mapping {
  /* margin-top: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dash-mapping-holds-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
}

.dash-mapping-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.different-form-buttons-select {
  /* margin-top: 1rem; */
  width: 50%;
}

.different-form-buttons-:hover {
  color: white;
  background-color: black;
}

.dash-buttons-split {
  display: flex;
  justify-content: space-evenly;
}

.dash-holds-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.send-item {
  border: 1px solid #342e37;
  box-shadow: 1px 0px 3px 0px #9cfc97;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0.5rem;
}
.send-item-buttons {
  display: flex;
  justify-content: space-between;
}
.send-item-grades {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.send-item-grades-div {
  display: flex;
  flex-direction: column;
}
/* 
.send-item .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
} */

/* ======================= Form page ======================= */

.form-holds-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forms-rendered-user-selection {
  margin-top: 2rem;
}
.form-center-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-inputs-center {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.holds-log-forms{
  margin: 1rem;
}

/* ======================= Spinner ======================= */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
/* =============================================== media queries for mobile =============================================== */
@media (max-width: 1250px) {
  .logo-text {
    font-size: 5.5em;
  }
}

@media (max-width: 1070px) {
  .logo-text {
    font-size: 4.5em;
  }
  .logo-subtext {
    font-size: 1.3em;
  }
}

@media (max-width: 950px) {
  .different-form-buttons {
    width: 11rem;
  }
}

@media (max-width: 880px) {
  .info-background-pic-text {
    justify-content: space-around;
  }
}

@media (max-width: 820px) {
  .info-holds-3part-page-info {
    flex-direction: column;
    align-items: center;
  }
  .info-info-part {
    width: 80%;
  }
  .margin-top2 {
    margin-top: 1rem;
  }
  .different-form-buttons {
    width: 9rem;
  }
  .dash-stat-3{
    width: 35%;
  }
  .dash-stat-response{
    font-size: 1.2em;
  }
}

@media (max-width: 750px) {
  .banner-p-width {
    width: 30%;
  }
}

@media (max-width: 710px) {
  /* .different-form-buttons {
    width: 23%;
  } */
  /* .dash-form-buttons{
    width: 60%;
  } */
  .different-form-buttons{
    margin: .5rem;
  }
  .holds-login-interaction{
    flex-direction: column;
  }
  .hold-everything-login{
    margin: 2rem 2rem 2rem 2rem;
  }
  /* .holds-login-interaction{
    
  } */
  .formBody{
    margin-bottom: 1rem;
  }
  .login-form{
    border-radius: 25px 25px 0 0;
    height: auto;
  }
  .login-info{
    border-radius: 0 0 25px 25px;
    height: auto;
  }
}

@media (max-width: 660px) {
  .logo-text {
    font-size: 3.5em;
    font-weight: 600;
  }
  /* .dash-stat-response{
    font-size: 1em;
  }
  .holds-different-form-buttons{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  
}

@media (max-width: 530px) {
  .info-background-pic-text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-text {
    text-align: center;
  }
  .banner-p-width,
  .banner-h-width {
    width: 80%;
  }
  .banner-p-width {
    margin-top: 1rem;
  }
  .logo-subtext {
    font-weight: 600;
  }
  .dash-holds-stats{
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dash-stat-3{
    width: 70%;
    margin-top: .5rem;
  }
  .dash-form-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .holds-different-form-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
